.calendarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendarWrapper {
  text-align: center;
}
.balanceCurrency {
  padding-left: 10px;
  color: #000000
}
.statisticsSpan {
  color: #447b46;
  font-weight: bold;
}

.calendarText {
  margin: 0;
  width: 120px;
  font-family: 'RobotoBlack';
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.52px;
}

.button {
  border: none;
  background-color: transparent;
  margin-right: 10px;
}

.statisticsHeaderWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 13px;
  padding-top: 44px;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: #f4f6fb;
  color: #52555f;
  border-radius: 20px;
}

.statisticsHeaderBalance {
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
  height: 45px;
  border-radius: 19px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 1px 2px 3px rgba(170, 178, 197, 0.29);
}

.balance {
  text-align: center;
  margin: 0;
  font-family: 'RobotoRegular';
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.75;
  color: #52555f;
}


.changeColorSvg {
  fill:#ff6b08;
  opacity: 0.75;
}

@media (max-width: 767px) {
  .statisticsHeaderBalance {
    margin-bottom: 15px;
  }



  .buttonGoBack {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 120px;
    margin-bottom: 20px;
  }
  .currencyBar {
    position: absolute;
    bottom: -25px;
    left: 10px;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 17px;
    box-shadow: 1px 2px 3px rgba(170, 178, 197, 0.29);
    font-family: 'RobotoRegular';
    font-weight: 500;
  }

  .exchangeRates {
    position: absolute;
    bottom: -25px;
    right: 10px;
    padding: 20px 10px;
    border: none;
    background-color: #fff;
    border-radius: 17px;
    box-shadow: 1px 2px 3px rgba(170, 178, 197, 0.29);
    font-family: 'RobotoRegular';
    font-weight: 500;
  }
  .statisticsHeaderWrapper {
    margin-bottom: 40px;
  
  }

  .calendarWrapper {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .buttonGoBack {
    margin-right: 5px;
}
}


@media (min-width: 768px) {
.balanceBar {
  padding-bottom: 13px;
  
}
  .changeColorSvg {
    margin-right: 10px;
  }
  .exchangeRates label {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .exchangeRates {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 10px;
    /* width: 100px; */
    height: 45px;
    border: none;
    background-color: #fff;
    border-radius: 17px;
    box-shadow: 1px 2px 3px rgba(170, 178, 197, 0.29);
    font-family: 'RobotoRegular';
    font-weight: 500;
  }

  .exchangeRates:hover .changeColorSvg  {
    transition: 0.3s ease-in-out;
    fill: #fff;
    opacity: 0.75;
  }

  .exchangeRates:hover p  {
    transition: 0.3s ease-in-out;
    opacity: 0.75;
    color: #fff;
  }

  .exchangeRates:hover {
    transition: 0.3s ease-in-out;
    background-color: #ff6c0acc;
  }

  .buttonText {
    display: inline-block;
    margin: 0;
    font-family: 'RobotoRegular';
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.75;
    color: #52555f;
    cursor: pointer;
  }


  .buttonGoBack a {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .buttonGoBack {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;

    height: 45px;
    border: none;
    background-color: #fff;
    border-radius: 17px;
    box-shadow: 1px 2px 3px rgba(170, 178, 197, 0.29);
    font-family: 'RobotoRegular';
    font-weight: 500;
    cursor: pointer;
  }


  .buttonGoBack:hover .changeColorSvg  {
    opacity: 0.75;
    transition: 0.3s ease-in-out;
    fill: #fff;
  }

  .buttonGoBack:hover p  {
    transition: 0.3s ease-in-out;
    opacity: 0.75;
    color: #fff;
  }

  .buttonGoBack:hover {
    transition: 0.3s ease-in-out;
    background-color:#ff6c0acc;
  }
  

  .currencyBar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

   .statisticsHeaderWrapper {
    height: 160px;
    padding: 0 ;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }



  .leftBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
  }

  .rightBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
  }
  .calendarWrapper {
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1100px) {
}
