.calendarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendarWrapper {
  text-align: center;
}

.calendarText {
  margin: 0;
  width: 120px;
  font-family: 'RobotoBlack';
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.52px;
}

.button {
  border: none;
  background-color: transparent;
  margin-right: 10px;
}

.statisticsHeaderWrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 13px;
  padding-top: 44px;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: #f4f6fb;
  color: #52555f;
  border-radius: 20px;
}

.statisticsHeaderBalance {
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
  height: 43px;
  border-radius: 19px;
  border: 2px solid #ffffff;
  background-color: #f4f6fb;
}

.balance {
  text-align: center;
  margin: 0;
  font-family: 'RobotoRegular';
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.75;
  color: #52555f;
}


.changeColorSvg {
  fill:#ff6b08;

  opacity: 0.75;
}

@media (max-width: 767px) {
  .statisticsHeaderBalance {
    margin-bottom: 36px;
  }

  .buttonGoBack {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 120px;
    margin-bottom: 20px;
  }
  .currencyBar {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .exchangeRates {
    position: absolute;
    bottom: 10px;
    right: 10px;

  }
  .statisticsHeaderWrapper {
    margin-bottom: 36px;
    /* height: 220px; */
  }

  .calendarWrapper {
    margin-bottom: 36px;
  }
}

@media (min-width: 768px) {
  .statisticsHeaderWrapper {
    height: 160px;
  }

  .changeColorSvg {

    margin-right: 10px;

  }

  .exchangeRates {
    cursor: pointer;
    padding: 10px 15px;
    margin-right: 10px;
    height: 45px;
    border: none;
    background-color: #fff;
    border-radius: 17px;
    box-shadow: 1px 2px 3px rgba(170, 178, 197, 0.29);
    background-color: #f5f7fa;
    font-family: 'RobotoRegular';
    font-weight: 500;
   
   
  }

  .exchangeRates:hover .changeColorSvg  {
    transition: 0.3s ease-in-out;
    fill: #fff;
    opacity: 0.75;
  }

  .exchangeRates:hover p  {
    transition: 0.3s ease-in-out;
    opacity: 0.75;
    color: #fff;
  }

  .exchangeRates:hover {
    transition: 0.3s ease-in-out;
    
    background-color: rgba(255, 108, 10, 0.8);
  }

  .buttonText {
    display: inline-block;
    color: #52555f;
    opacity: 0.75;
    margin: 0;
  }


  .buttonGoBack p {
    margin: 0 auto;

  }

  .buttonGoBack {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-right: 10px;
    height: 45px;
    border: none;
    background-color: #fff;
    border-radius: 17px;
    box-shadow: 1px 2px 3px rgba(170, 178, 197, 0.29);
    background-color: #f5f7fa;
    font-family: 'RobotoRegular';
    font-weight: 500;
    opacity: 0.75;
    cursor: pointer;
  }


  .buttonGoBack:hover .changeColorSvg  {
    opacity: 0.75;
    transition: 0.3s ease-in-out;
    fill: #fff;
  }

  .buttonGoBack:hover p  {
    transition: 0.3s ease-in-out;
    opacity: 0.75;
    color: #fff;
  }

  .buttonGoBack:hover {
    transition: 0.3s ease-in-out;
    opacity: 0.75;
    background-color: rgba(255, 108, 10, 0.8);
  }
  

  .currencyBar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* width: 120px; */
  }

 

  .statisticsHeaderWrapper {
    padding: 0 20px;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }

  .buttonContainer {
    margin-bottom: 0px;
    position: relative;
    top: 15px;
    left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .leftBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
  }

  .rightBar {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  .calendarWrapper {
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1100px) {
}
