.chartContainer {
  max-width: 760px;
  margin: 30px auto;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 7px 12.124px 65px 0px rgba(179, 185, 200, 0.75);
  padding: 20px 86px;
}

@media (max-width: 767px) {
  .chartContainer {
    max-width: 688px;
    padding: 20px 14px;
  }
}
