.incomeList {
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-top: 20px;
}

.noIncome {
  text-align: center;
  font-size: 13px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .incomeList {
    width: 694px;
    padding: 0;
    border-radius: 25px;
    border: 2px solid rgb(244, 246, 251);
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .incomeList:first-child {
    border-top: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}

@media (min-width: 1024px) {
  .incomeList {
    margin: 0;

    margin-bottom: 20px;
  }
}
