@media (min-width: 768px) {
    .summary{
    display: table;
    width: 232px;
    border: 2px solid white;
    font-size: 11px;
    border-radius: 40px;
    background-color: #f4f6fb;
  }

  .summaryListHeading{
    text-align: center;
    padding-top: 10px;
    height: 39px;
    line-height: 39px;
    text-transform: uppercase;
    font-family: 'RobotoBlack';
    font-style: normal;
    font-weight: normal;
  }
  .summaryListItemMonth{
    padding: 12px 12px;
    width: 30%;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .summaryListItemSum {
    padding: 12px 12px;
    width: 70%;
    text-align: right;
  }

  .summaryListItem {
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'RobotoRegular', sans-serif;
    font-style: normal;
    font-weight: normal;

  }

  .summaryListItem:last-child{
  border-radius: 40px 0 40px 0;
  } 

  .summaryListItem:hover {
    background-color: rgba(255, 108, 10, 0.8);;
    transition: 0.3s;
  }
}

/* @media (min-width: 1280px) {
  .summary{
    display: table;
    width: 232px;
    border: 2px solid white;
    font-size: 11px;
    border-radius: 40px 40px 40px 40px;
    background-color: #f4f6fb;
  }

} */