.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.stats {
  margin-bottom: 48px;
}
.stats svg {
  margin-right: 12px;
}
.wrapper {
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  max-width: 280px;
  border-radius: 0 0 0 120px;
  background-color: #f4f6fb;
  padding-top: 36px;
}

.report {
  padding: 0;
  margin: 0;
  opacity: 0.75;
  color: #52555f;
  /* font-family: Roboto; */
  font-size: 13px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.52px;
  border-style: none;
  background-color: transparent;
}

.bal_text {
  padding: 0;
  margin: 0;
  opacity: 0.75;
  color: #52555f;
  /* font-family: Roboto; */
  font-size: 13px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0.52px;
  margin-bottom: 15px;
}
.ballanceWrap {
  max-width: 238px;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  height: 43px;
  background-color: #f4f6fb;
  margin-bottom: 65px;
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  color: #000000;
  /* font-family: Roboto; */
  font-size: 13px;
  font-weight: 700;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 0.39px;
  width: 118px;
  border-radius: 19px 0 0 19px;

  border-top: 2px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}

.btn {
  margin: 0;
  padding: 0;
  border-style: none;
  opacity: 0.75;
  color: #52555f;
  background-color: transparent;
  /* font-family: Roboto; */
  font-size: 11px;
  font-weight: 500;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 0.44px;
  width: 118px;
  border-radius: 0 19px 19px 0;
 
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 1px solid #ffffff;
}
