@media (min-width: 768px) {
  .operationListWrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .operationList {
    width: 100%;
  }
  .operationSummaryContainer {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .operationListWrapper {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 0 20px 20px;
    box-shadow: 7px 12.124px 65px 0px rgba(179, 185, 200, 0.75);
  }
  .operationList {
    width: 75%;
  }
  .operationSummaryContainer {
    width: 25%;
  }
}
