.currencyBar {
  min-width: 10px;
}
.wrapper {
  position: relative;
  z-index: 3;
}

.button {
  border: none;
  background-color: transparent;
}

.active {
  background-color: #fff;
}

.popover {
  position: absolute;
  /* background-color: #fff; */
  padding: 0;
  top: 32px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currencyButton {
  position: relative;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  /* background-color: #fff; */
  color: #fff;

}

/* .currencyButton:hover {
  background-color: rgba(82, 85, 95, 0.5);
} */

.menuItem:not(:last-child) {
  border-bottom: 1px solid rgba(64, 80, 108, 0.1);
}

.menuItem:hover {
  background-color: rgba(82, 85, 95, 0.5);
}

@media (min-width: 768px) {

  .currencyBar {
    position: relative;
    width: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }

  .currencyBar:hover {
    background-color: rgba(82, 85, 95, 0.5);
  }

  .buttonText {
    display: inline-block;
    /* text-align: center; */
    margin: 0;
    font-family: 'RobotoRegular';
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.75;
    color: #52555f;
  }
}
