.ExchangeRatesWrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}

.table {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  margin-bottom: 20px;
}
.th {
  background: #ff6b08;
  opacity: 0.75;
  color: white;
  text-shadow: 0 1px 1px #2d2020;
  padding: 10px 20px;
  font-size: 14;
}
.th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}
.th:first-child,
td:first-child {
  text-align: left;
}
.th:first-child {
  border-top-left-radius: 10px;
}
.th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}
.td {
  color: #fff;
  padding: 10px 20px;
  background: #52555f;
  opacity: 0.75;
  font-size: 14px;
}
.tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}
.tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
.tr td:last-child {
  border-right: none;
}

.title {
  color: red;
  opacity: 0.75;
  padding-left: 30px;
}
.captionSpan {
  color: #ff6c0acc;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .table {
    width: 100%;
    height: 100%;
  }
  .td {
    font-size: 20px;
  }

  .th {
    font-size: 20px;
  }
  .title {
    font-size: 18px;
  }
  .caption {
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
  .table {
    width: 100%;
    height: 100%;
  }
  .td {
    font-size: 24px;
  }

  .th {
    font-size: 24px;
  }
  .title {
    font-size: 20px;
  }
  .caption {
    font-size: 24px;
  }
}
