.operationList {
  width: 280px;
  max-height: 290px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-top: 20px;
  overflow-y: scroll;
}

.noOperations {
  text-align: center;
  font-size: 13px;
  line-height: 20px;
}

@media (min-width: 768px){
  .operationList {
    width: 100%;
    padding: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 2px solid rgb(244, 246, 251);
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .operationList:first-child {
    border-top: none;
  }
}

@media (min-width: 1280px) {
  .operationList {
    margin: 0;
    margin-bottom: 20px;
  }
}
