footer {
    padding: 10px 0;
}
.footerInfo {
    background-color: #F5F6FB;
    width: 100%;
    /* position: fixed; */
    /* z-index: -1; */
    /* bottom: 0; */
    
}
.info {
    color: black;
    text-align: center;
}
.linkInfoTeam {
    color: black;
}
.linkInfoTeam:hover{
    color:#FB7C2F;
}
.infoP {
    color: white;
}