.contacts_div_main {
    display: flex;
    padding: 40px 0;
    flex-flow: column;
    justify-content: center;
    align-self: center;
    background-color: #f4f6fb;
     
}
  
.arrowBtn {
    /* display: flex;
    max-width: 200px;
    margin-bottom: 20px;
    justify-content: flex-start;
    border: none;
    background: transparent; */
    border: none;
    background-color: transparent;
    margin-right: auto;
}
.arrowSvg {
    fill: var(--orange);
    color: var(--orange);
    width: 30px;
    height: 20px;
}
.textBackBtn {
    font-size: 14px;
    line-height: 20px;
}  