.sectionHomePage {
  height: calc(100vh - 60px);
  width: 100vw;
  padding-bottom: 66px;
}

.wrapper {
  width: 100%;
  background-color: #f4f6fb;
  height: 290px;
  border-radius: 0 0 0 120px;
}

.wrapperDescription {
  box-sizing: border-box;
  padding-top: 85px;
  padding-left: 16px;
  padding-left: 36px;
  margin-bottom: 50px;
}

.title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 50px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}

.icon {
  position: absolute;
  fill: #d6dbe7;
  opacity: 0.7;
  right: -40px;
  width: 90px;
  top: 96px;
  transform: scale(-1, -1);
}

.description {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: #52555f;
  padding-left: 12px;
  letter-spacing: 2.52px;
}