.operationListItem {
  display: flex;
  margin-bottom: 15px;
}

.operation {
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  width: 80px;
}

.operationProduct {
  margin: 0;
}

.date {
  margin: 0;
  font-size: 9px;
  font-weight: normal;
  color: gray;
}

.category {
  font-size: 9px;
  margin-top: 25px;
  color: gray;
  width: 50px;
  margin-left: 30px;
}

.price {
  font-size: 10px;
  color: red;
  line-height: 40px;
  width: 70px;
  text-align: center;
  margin: 0;
}

.btnDelete {
  padding: 4px;
  border: none;
  width: 40px;
  height: 38px;
  background-color: white;
}

.btnDelete:hover,
.btnDelete:focus {
  background-color: rgb(244, 246, 251);
  border-radius: 25px;
}

.imgOperation {
  max-width: 100%;
}

@media (min-width: 768px) {
  .operationListItem {
    width: 100%;
    align-items: center;
    border-bottom: 2px solid rgb(244, 246, 251);
    margin: 0;
    padding-left: 40px;
  }

  .operationListItem:last-child {
    border-bottom: none;
  }

  .operation {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    margin-top: 18px;
    width: 250px;
  }

  .date {
    font-size: 13px;
    color: black;
    width: 180px;
  }

  .operationProduct {
    font-weight: normal;
    font-size: 13px;
    width: 180px;
  }

  .category {
    font-size: 13px;
    margin-top: 19px;
    text-align: center;
    color: black;
    width: 120px;
    margin-right: 50px;
  }

  .price {
    font-size: 15px;
    padding-top: 16px;
    width: 80px;
  }

  .btnDelete {
    width: 50px;
    height: 48px;
    margin-left: 50px;
    position: relative;
  }

  .imgOperation {
    margin-top: 2px;
    height: auto;
    width: 40px;
    margin-left: 50px;
    position: absolute;
    top: 0;
    left: -45px;
    padding-top: 3px;
  }
}
